<img src="/about.png" class="icon" alt="">

<p class="text-center" style="width:1000px;">
    created in 2008, viize computing is know for the following main activities:
</p>

<ul style="list-style-type:circle;">
    <li>provisioning hosts and servers according to client specification, deploying and managing VMs (ESXi, vSphere, vCenter, etc);</li>
    <li>creating clusters and pool resources, setting reservations and limits, defining alarm triggers;</li>
    <li>assigning HA, FT, DRS technologies according to client expected up-time and recovery needs;</li>
    <li>a number of migration projects based on VMware 3.5, 4.x, 5.x and 6.x;</li>
    <li>real time infrastructure monitoring providing support to the cloud infrastructure, maintaining high availability and optimizing performance through proactive measures;</li>
    <li>provide remote and field based system support (tier 3) on running infrastructure. Reporting to project manager, sending updates and progress reports.</li>
</ul>