<!DOCTYPE html>
<html>
<head>
<title>viize computing</title>
<link rel='stylesheet' type='text/css' href='/style.css'>
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="container">
    <div id='header'>

      <a href='/'><img src='/viize.png' alt='logo image' class='logo'/></a>
      
      <a href='/contact' class='nav'>contact</a>
      <a href='/labs' class='nav'>labs</a>
      <a href='/clients' class='nav'>clients</a>
      <a href='/services' class='nav'>services</a>
      <a href='/' class='nav'>about</a>
      
    </div>

    <div id='main'>
      <%= yield %>
    </div>

    <div id='footer'>viize computing ©</div>

  </div>
</body>
</html>
