.main-container {
    display: grid;
    grid-template-columns: 70% 30%;
}
.video-container {

    background-color: cornflowerblue;
}
.thumbnail-container {
    height: 300px;
    background-color: burlywood;
}
.comments-container {

    background-color: dimgray;
}


@media only screen and (max-width: 600px) {
    .main-container {
        display: inline;
    }

    .video-container {

        background-color: cornflowerblue;
    }
    .thumbnail-container {


        background-color: burlywood;
    }
    .comments-container {
    

    }

}
